body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#button {
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    width: 200px;
    height: 64px;
    background-color: #aaa;
    color: #666;
    border-radius: 16px;
    position: absolute;
    transition: all 0.3s ease;
}

#button:hover {
    border: 3px solid #111;
    color: #444;
    background-color: #888;
    transform: scale(1.1);
    cursor: pointer;
}

#video {
    display: none;
}
